/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* shades of a color are darker the higher the ending number is so pink-1 would be 4 times lighter than pink-4*/

 



/* :root {
  --primary-color: #FFE5D9;
  --secondary-color: #FFD7BA;
  --font-color: #FEC89A;
  --tertiary-color: #ECE4DB;
  --link-color: #D8E2DC;
}

AND 

[data-theme="afternoon"] {
  --primary-color: #F4A261;
  --secondary-color: #E76F51;
  --font-color: #E9C46A;
  --tertiary-color: #2A9D8F;
  --link-color: #264653;
} */

.morning-theme {
  --primary-color: #FFCAD4;
  --secondary-color: #F4ACB7;
  --font-color: #9D8189;
  --tertiary-color: #9da9e0;
  --link-color: #FFE5D9;

}

.afternoon-theme {
  --primary-color: #F4A261;
  --secondary-color: #E76F51;
  --font-color: #E9C46A;
  --tertiary-color: #2A9D8F;
  --link-color: #264653;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  color: var(--font-color);
  background: var(--primary-color);
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  width:100%;
  padding: 60px 60px 30px 60px; /* top, right, bottom, left */
  background: var(--secondary-color);
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  padding: 30px 60px 60px 60px; /* top, right, bottom, left */
  background: var(--tertiary-color);
}


.top-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-grid {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a { 
  color: var(--link-color);
}

.nav-link {
  text-decoration: none;

}



